#photo{
    width: 100vw;
    height: 100%;
    background-size: 100vw auto;
	background-repeat: no-repeat;
}
#selectWindow{
	display: none;

}
#chooseWindow{
	display: none;
}
#canvas{border:1px 
	solid red;
	stroke-opacity:1.0;
}
#formDiv{
	text-align: center;
}
.choicePic{
	width: 47vw;
	height: 100%;
	background-size: 49vw auto;
	background-repeat: no-repeat;
	float:left;
}
.image_rotated_by_90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
