#photo{
    width: 100vw;
    height: 100%;
    background-size: 100vw auto;
	background-repeat: no-repeat;
}
#selectWindow{
	display: none;

}
#chooseWindow{
	display: none;
}
#canvas{border:1px 
	solid red;
	stroke-opacity:1.0;
}
#formDiv{
	text-align: center;
}
.choicePic{
	width: 49vw;
	height: 100%;
	background-size: 50vw auto;
	background-repeat: no-repeat;
	float:left;
}
