#content {
	display: flex;
	overflow-x: hidden;
	padding-top: 3rem;
}

.page {
	align-content: flex-start;
	height: 100%;
	margin-left: -100vw;
	opacity: 0;
	padding: 0 0.5rem 2rem 0.5rem;
	transform: translateX(200vw);
	transition: transform 0.4s ease-in, opacity 0.15s linear;
	width: 100vw;
}

.page.incoming {
	transition: transform 0.4s ease-out, opacity 0.15s linear;
}

body{
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none; 		/* Safari */
	-khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Firefox */
	ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome and Opera */
}