#filter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0.2rem;
	height: auto;
	width: 100%;
}

#filter .grade {
	margin: 0;
	max-width: 2.5rem;
	max-height: 2.5rem;
	height: 12.5vw;
	width: 12.5vw;
}

#filter .grade.inactive {
	opacity: 0.4;
}