#filter {
	margin-top: 0.2rem;
	overflow-x: scroll;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

#filter .grade {
	display: inline-flex;
	margin: 0;
	height: 2.5rem;
	width: 2.5rem;
}

#filter .grade.inactive {
	opacity: 0.4;
}