/* Define global (top-level) styles in here */

* {
	box-sizing: border-box;

	/* Global opacity animation. */
	transition: opacity 0.15s ease-out;

	/* Disable gray highlighting on click for webkit elements. */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
}

body {
	background-color: #ececec;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
