/* Define global (top-level) styles in here */

* {
	box-sizing: border-box;
}

body {
	background-color: #ececec;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
