#navbar {
	align-items: center;
	background-color: #ea7801;
	display: flex;
	font-size: 1.5rem;
	height: 3rem;
	justify-content: center;
	padding: 1rem 0.3rem;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#navbar .action {
	flex-grow: 0;
	font-size: 1.2rem;
	padding: 0 0.5rem;
	width: 33px;
}

#navbar .action:active {
	opacity: 0.3;
}

#navbar .action.disabled {
	opacity: 0;
}

#nav-title {
	color: white;
	flex-grow: 1;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
